#splashScreen {
	background-color: #222;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	&.start {
		-webkit-animation: avatarStartBG 5s infinite ease-in;
	}
	h1 {
		font-family: 'Georgia';
		font-size: 80px;
		color:#dadada;
		text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
		line-height: 50px;
		position: absolute;
	    width: 350px;
	    left: 50%;
	    margin-left: -175px;
	    bottom: -60px;
		small {
			display:block;
			font-size:40px;
		}
		sub {
			display: block;
		    font-weight: normal;
		    font-size: 20px;
		    border-top: 3px solid rgba(0,0,0,0.3);
		    margin-top: 25px;
		}
	}
}

@-webkit-keyframes avatarStartBG {
	0% {background-color: #222;}
	30% {background-color: #444;}
	100% {background-color: #222;}
}

@keyframes avatarStartBG {
	0% {background-color: #222;}
	30% {background-color: #444;}
	100% {background-color: #222;}
}