#burger {
	position:absolute;
	top: 50px;
	right: 50px;
	span {
		display: block;
		width: 57px;
	    height: 7px;
	    margin-bottom: 10px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
		opacity 0.55s ease;
        &:first-child {
            transform-origin: 0% 0%;
        }
        &:nth-last-child(1) {
            transform-origin: 0% 100%;
            margin-bottom:0;
        }
    }
    input {
		display: block;
		width: 62px;
    	height: 50px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
		&:checked ~ span {
			opacity: 1;
			transform: rotate(45deg) translate(-2px, -1px);
			background: #232323;
			&:nth-last-child(2) {
				opacity: 0;
				transform: rotate(0deg) scale(0.2, 0.2);
			}
			&:nth-last-child(1) {
				transform: rotate(-45deg) translate(0, -1px);
			}
		}
	}
}
#menu-bg {
	top:-500px;
	right: -500px;
	height: 300px;
    background: #fff;
    width: 300px;
    position: absolute;
    transform: rotate(45deg);
    box-shadow: 0px 8px 100px #000;
    border: 1px solid #333;
    transition: all 1s ease-in;
    &.show {
		right: -150px;
    	top: -150px;
    }
}