// variable
$avatar-width : 282px;

#avatar {
	background: url(/avatar-start-sprite.png) no-repeat;
	background-position-x: 0px;
	height:387px;
	width:$avatar-width;
	position:absolute;
	bottom: 100px;
	left : 50%;
	margin-left: $avatar-width / 2 * -1;
	-webkit-transform: scale(2, 2);
	&.start {
		-webkit-animation: avatarStart 1s forwards steps(10);
		-webkit-animation-delay: 2s;
	}
}
@-webkit-keyframes avatarStart {
	from {background-position-x: 0px;}
	to {background-position-x: $avatar-width * -10;}
}

@keyframe avatarStart {
	from {background-position-x: 0px;}
	to {background-position-x: $avatar-width * -10;}
}